<div class="container">

  <div *ngIf="!taskId">
    <p class="alert alert-danger">There Is No Task Id</p>
  </div>

  <div *ngIf="taskId">
    <h2 class="text-center">Details Of {{task.title}}</h2>
    <input type="text" class="form-control" placeholder="Task Title" [(ngModel)]="task.title" />
    <textarea class="form-control mt-2" placeholder="Write The Task Description" [(ngModel)]="task.description"></textarea>

    <div class="mt-2">
      <a routerLink="/" class="btn btn-info mx-1">Cancel</a>
      <button class="btn btn-primary mx-1" (click)="updateTask()">Update</button>
      <button class="btn btn-danger mx-1" (click)="deleteTask()">Delete</button>
    </div>
  </div>
</div>
